version: '3.8'

services:
  # PHP-FPM Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    user: "1000:1000"
    restart: unless-stopped
    working_dir: /var/www/html
    ports:
      - "9000:9000"
    volumes:
      - ./:/var/www/html
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

  # PostgreSQL Service
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  # Redis Service
  redis:
    image: redis:8.2-alpine
    container_name: redis
    restart: unless-stopped
    environment:
    - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge